@import "tailwindcss";
@tailwind utilities;

#log-container {
    scroll-behavior: smooth;
 }
    
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
}